<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1d5d75a1-6586-48a3-8b56-10ac0b437638/resourceGroups/SkillSampleTest/providers/Microsoft.Web/sites/SkillSampleTest-s3wpno5</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://skillsampletest-s3wpno5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>skillsampletest-s3wpno5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SkillSampleTest-s3wpno5</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SkillSampleTest-s3wpno5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>